@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -0.75px;
}

.card{
    width: 300px;
    display: inline-block;
    vertical-align: middle;
    padding: 15px;
    margin: 5px;
    border: 1px solid orangered;
}